<footer class="footer">
    <div class="container">
      <div class="footer-menu">
        <a href="#" role="link" class="ui-link">
          <i class="fa fa-home"></i>
          <span>Home</span> 
        </a>
        <a href="#" role="link" class="ui-link">
          <i class="fa fa-language"></i>
          <span>English</span> 
        </a>
        <a href="#" role="link" class="ui-link">
          <i class="fa fa-search"></i>
          <span>Search</span> 
        </a>
      </div>
    </div>
</footer>
  